<html>
    <head>
        {{ content_for_header }}
        <link rel="stylesheet" href="{{ 'style.css' | asset_url}}">
    </head>
    <body>
        {% render 'header' %}
        {{ content_for_layout }}
    </body>
</html>